.account-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;

  }
  .account-info{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  .account-info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .bn>button{
    width: 150px;
    color: black;
    background-color: antiquewhite;
  }
  
  
  /* .address{
    width: 80%;
  } */

  .account-info .all-info{
    
    display: flex;
    gap: 100px;
  }
  .main-add{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .payment-icon i{
    font-size: 50px !important;
   
    
   
  }
  .payment-icon{
    display: flex;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 1em;
    cursor: pointer;

    
  }
 
  .optionns,h4{
    margin-top: 0;
    margin-bottom: 0;
  }
  /* .optionns>p{
    margin-top: 10px;
  } */
  .payment-icon h4{
    font-size: 20px;
  }
  .account-info .profile{
    display: flex;
    gap: 20px;
    justify-self: start;
  }

  .account-info h4{
    text-align: center;
    margin: 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .account-info, .order-history, .preferences, .address {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .preferences{
    display: flex;
    justify-content: space-between;
   
  }
  
  .btn-edit {
    display: block;
    margin: 10px auto;
    background-color:antiquewhite;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-edit:hover {
    background-color: #bcc7be;
  }
  @media(max-width:768px){
    .account-info .all-info{
        flex-direction: column;
        gap: 20px;

    }
    
    .bn{
        display: none;
    }
    .address{
      width: 100%;
    }
    .preferences{
      flex-direction: column;
      gap: 10px;
    }
  }